body{
    background-color: #efefef;
}
a{
    text-decoration: none;
}
.main{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
}
.btn_publish{
    margin-top: 5px;
    float: right;
}
.main_list_item_imgSize{
    width: 40px;
    height: 40px;
}
.text_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.text_desc_question{
    font-size: 14px;
    font-weight: normal;
    color: #999;
}
.text-color-999{
    font-size: 13px;
    color: #999;
}
.right-section{
    margin-top: 40px;
    margin-bottom: 20px;
}