body{
    background-color: #efefef;
}
.main{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
}
.btn_publish{
    margin-top: 5px;
    float: right;
}
.main_list_item_imgSize{
    width: 40px;
    height: 40px;
}
.text_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}