body{
    background-color: #efefef;
}
a{
    text-decoration: none;
}
ul{
    display: none;
}
.main{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
}
.btn_publish{
    margin-top: 5px;
    float: right;
}
.main_list_item_imgSize{
    width: 40px;
    height: 40px;
}
.text_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.text_desc_question{
    font-size: 14px;
    font-weight: normal;
    color: #999;
}
.text-color-999{
    font-size: 13px;
    color: #999;
}
.right-section{
    margin-top: 40px;
    margin-bottom: 20px;
}
.jumbotron{
    margin: 60px;
}
.question-title{
    margin-top: 25px;
}
.user-name{
    padding-top: 15px;
}
.comment-username{
    padding-top: 15px;
}
.comment-text{
    margin: 10px 0px;
}
.float-right{
    float: right;
}
.hr-margin-top-0{
    margin-top: 0px;
}
.comment-menu{
    font-size: 15px;
    margin-top: 10px;
}
.comment-menu .icon{
    margin: 0px 10px;
    color: #999999;
    cursor: pointer;
}
.comment-menu .icon:hover{
    margin: 0px 10px;
    color: #499ef3;
    cursor: pointer;
}
.comments{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px #eeeeee solid;
}