<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布 - WD社区</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/ac_one_community.css">
    <!-- 加载服务文本编辑css样式-->
    <link rel="stylesheet" href="/css/editormd.min.css">

    <!--Jquery.js-->
    <script src="/js/jquery-3.2.1.min.js" type="application/javascript"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <!-- publish专用js -->
    <script src="/js/publish.js" type="application/javascript"></script>
    <!-- 加载富文本编辑的js -->
    <script src="/js/editormd.min.js" type="application/javascript"></script>

</head>
<body>
<div th:replace="~{navgition::nav}"></div><!--引入navgition.html中定义好的导航栏-->
<div class="container-fluid main"><!-- container-fluid begin-->
    <div th:if="${session.user} ne null" class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/dopublish" method="post">
                <input type="hidden" id="creator" name="creator" th:value="${session.user.id}">
                <input type="hidden" id="questionID" name="questionID" th:if="${questionID ne null}" th:value="${questionID}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input type="text" class="form-control" autocomplete="off" th:value="${title}" id="title" name="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填，请参照右侧提示)</label>
                    <textarea class="form-control" th:text="${description}" name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" autocomplete="off" th:value="${questionTag}" id="tag" name="tag" placeholder="输入标签，使用，可以将标签分隔开" onclick="showSelectTag()">

                    <div id="select-tag" class="publish-tag-tab">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat : ${tags}" th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane"
                                 th:each="selectCategory,selectCategoryStat : ${tags}"
                                 th:id="${selectCategory.categoryName}"
                                 th:class="${selectCategoryStat.first ? 'tab-pane active':'tab-pane'}">
                                <span  class="label label-info" th:each="selectTag:${selectCategory.tags}">
                                    <span class="glyphicon glyphicon-tags"
                                          onclick="selectTag(this)" th:data="${selectTag}" th:text="${'   '+selectTag}"></span>
                                </span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="form-group container-fluid main"><!--设置块内元素垂直居中-->
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div id="alert_box">

                            </div>
                            <!-- 如果用户非法跳转 -->
                            <div th:if="${(creatorID ne null && creatorID ne session.user.id)}" class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                这不是您的问题，您不可以修改!!!
                            </div>
                        </div>
                        <div th:if="${creatorID eq null || (creatorID ne null && creatorID eq session.user.id)}" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" id="submit" class="btn btn-success btn-lg btn_publish">
                                    发布
                                </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>问题发起指南</h3><br>
            ·问题的标题：请用精简的语言描述您发布的问题，不超过25字<br>
            ·问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料,如：<br>
            <strong>· 服务器运行环境；</strong><br>
            <strong>· 软件版本；</strong><br>
            <strong>· 问题发生的上下文信息；</strong><br>
            <strong>· 可以完整复现问题的代码</strong><br>
            <strong>· 补充完整的异常和错误信息；</strong><br>
            <strong>· 注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；</strong><br>

            ·选择标签：选择一个或多个合适的标签，不超过10个字<br>

            <span class="main" th:if="${error} ne null">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong th:text="'警告!'+${error}"></strong>信息提交错误可能存在空值！
                    </div>
            </span>
            <span class="main" th:if="${#bools.isTrue(#httpServletRequest.getParameter('success'))}">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>干得漂亮！
                            <br/>您已发布成功，现已可继续发布！</strong>
                    </div>
            </span>
        </div>
    </div>
    <h1 th:if="${session.user} eq null">登录后即可发布哦</h1>
</div><!-- container-fluid end -->
</body>
</html>