<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布 - WD社区</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/ac_one_community.css">

    <!--Jquery.js-->
    <script src="/static/js/jquery-3.2.1.min.js" type="application/javascript"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">码将社区</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">问答社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
<!--                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
<!--                <li><a href="#">Link</a></li>-->
<!--                <li class="dropdown">-->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a href="#">Action</a></li>-->
<!--                        <li><a href="#">Another action</a></li>-->
<!--                        <li><a href="#">Something else here</a></li>-->
<!--                        <li role="separator" class="divider"></li>-->
<!--                        <li><a href="#">Separated link</a></li>-->
<!--                        <li role="separator" class="divider"></li>-->
<!--                        <li><a href="#">One more separated link</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user} eq null"><a href="https://github.com/login/oauth/authorize?client_id=68f471c8ef16a67e27ad&redirect_uri=http://localhost:8080/callback&scope=user&state=1" >登录</a></li><!--[向git请求授权访问用户信息]   th:if="${session} eq null}"-->
                <li th:if="${session.user} ne null"><a href="publish" >发起+</a></li>
                <li th:if="${session.user} ne null"><a href="#" th:text="${session.user.name}"></a></li>
                <li th:if="${session.user} ne null" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">我的问题</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="doLoginOut">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main"><!-- container-fluid begin-->
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>

            <form>
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="title">问题补充(必填，请参照右侧提示)</label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签,使用，可以将标签分隔开">
                </div>
                    <button type="submit" class="btn btn-success btn_publish">发布</button>
            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>问题发起指南</h3><br>
            ·问题的标题：请用精简的语言描述您发布的问题，不超过25字<br>
            ·问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料,如：<br>
            <strong>· 服务器运行环境；</strong><br>
            <strong>· 软件版本；</strong><br>
            <strong>· 问题发生的上下文信息；</strong><br>
            <strong>· 可以完整复现问题的代码</strong><br>
            <strong>· 补充完整的异常和错误信息；</strong><br>
            <strong>· 注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；</strong><br>

            ·选择标签：选择一个或多个合适的标签，不超过10个字<br>
        </div>
    </div>
</div><!-- container-fluid end -->
</body>
</html>