<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${questionDto.title}"></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/ac_one_community.css">

    <!--Jquery.js-->
    <script src="/js/jquery-3.2.1.min.js" type="application/javascript"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <!--实现异步发送回复的js-->
    <script src="/js/comment.js" type="application/javascript"></script>
    <!--日期格式-->
    <script src="/js/moment.min.js" type="application/javascript"></script>
</head>
<body>
<div th:replace="~{navgition::nav}"></div><!--引入navgition.html中定义好的导航栏-->
<div class="container-fluid main profile"><!-- container-fluid begin-->
    <div class="row">
        <!--左边问题信息快-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="question-title"><span th:text="${questionDto.title}"></span></h2>
                <span class="text_desc_question">
                    作者:<span th:text="${questionDto.questionCreater.name}"></span> |
                    发布时间:<span th:text="${#dates.format(questionDto.gmtCreate,'YYYY-MM-dd HH:mm')}"></span> |
                    <span th:text="${questionDto.viewCount}"></span>次浏览
                </span>
                <hr>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questionDto.description}"></div>
                <br/>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info question-tag" th:each="tag : ${questionDto.questionTag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info" th:text="${tag}"></span>
                    </span>
                </div>
                <br/>
                <hr>
                <a class="text-color-999" th:if="${session.user ne null && session.user.id eq questionDto.questionCreater.id}" th:href="@{'/publish/'+${questionDto.id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                    编辑
                </a>
            </div>
            <br/>
            <!--回复框-->
            <div id="comment_section" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
                <!-- 如果用户已登录，显示这个 -->
                <div class="media" th:if="${session.user ne null}">
                    <div class="media-left">
                        <a  href="#">
                            <img class="media-object img-rounded main_list_item_imgSize" th:src="${session.user.avatarUrl}" alt="...">
                        </a>
                    </div>
                    <div class="media-body comment-username">
                        <h5 class="media-heading">
                            <input type="hidden" id="commentator" th:value="${session.user.id}">
                            <a href="#" th:text="${session.user.name}"></a>
                        </h5>
                    </div>
                </div>
                <!-- 否则如果是游客，显示这个 -->
                <div class="media" th:if="${session.user eq null}">
                    <div class="media-left">
                        <a  href="#">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"/>
                        </a>
                    </div>
                    <div class="media-body comment-username">
                        <h5 class="media-heading">
                            <input type="hidden" id="ifTourist" value="true">
                            <a href="#">游客</a>
                        </h5>
                    </div>
                </div>

                <input type="hidden" id="questionID" th:value="${questionDto.id}">
<!--                <input type="hidden" id="questionCommentCreatorID" th:value="${questionDto.questionCreater.id}">-->
                <textarea class="form-control comment-text" rows="3" id="questionCommentContent"></textarea>
                <button type="button" class="btn btn-success float-right" onclick="QuestionComment(this)">回复</button>
            </div>
            <br/>

            <!--回复列表-->
            <!--回复的条数-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
                <h4>
                    共 <span id="comment_count" th:text="${questionDto.commentCount}"></span> 条回复
                </h4>
                <hr class="hr-margin-top-0">
            </div>
            <!--回复列表的内容-->
            <span id="commentList" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><!-- 注：一级回复列表没有特定样式 -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment" th:each="comment:${comments}">
                <div class="media"  th:if="${comment.commentCreator ne null}">
                    <div class="media-left">
                        <a  href="#">
                            <img class="media-object img-rounded main_list_item_imgSize" th:src="${comment.commentCreator.avatarUrl}" alt="..."/>
                        </a>
                    </div>
                    <div class="media-body comment-username">
                        <h5 class="media-heading">
                            <input type="hidden" th:value="${comment.commentCreator.id}">
                            <a href="#" th:text="${comment.commentCreator.name}"></a>
                        </h5>
                        <div th:text="${comment.content}"></div>
                        <!--一些社交操作-->
                        <div class="comment-menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-thumbs-down icon"></span>
                            <!--二级回复按钮-->
                            <span class="glyphicon glyphicon-comment icon" th:data-comment-id="${comment.id}" onclick="collapseComments(this)"></span>
                            <span class="icon-comment-count" th:id="${'parentSecCommentList'+comment.id}" th:text="${comment.commentCount}"></span>
                            <span class="float-right icon" th:text="${#dates.format(comment.gmtCreate,'YYYY-MM-dd')}"></span>
                        </div>
                        <!-- 二级评论列表 -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse second-comment-list" th:id="${'comment-id-'+comment.id}">
                            <!--循环显示二级回复列表-->
<!--                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment" th:each="comment:${comments}">-->
<!--                                <div class="media"  th:if="${comment.commentCreator ne null}">-->
<!--                                    <div class="media-left">-->
<!--                                        <a  href="#">-->
<!--                                            <img class="media-object img-rounded main_list_item_imgSize" th:src="${comment.commentCreator.avatarUrl}" alt="..."/>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="media-body comment-username">-->
<!--                                        <h5 class="media-heading">-->
<!--                                            <input type="hidden" th:value="${comment.commentCreator.id}">-->
<!--                                            <a href="#" th:text="${comment.commentCreator.name}"></a>-->
<!--                                        </h5>-->
<!--                                        <div th:text="${comment.content}"></div>-->
<!--                                        &lt;!&ndash;一些社交操作&ndash;&gt;-->
<!--                                        <div class="comment-menu">-->
<!--                                            <span class="glyphicon glyphicon-thumbs-up icon"></span>-->
<!--                                            <span class="glyphicon glyphicon-thumbs-down icon"></span>-->
<!--                                            &lt;!&ndash;二级回复按钮&ndash;&gt;-->
<!--                                            <span class="glyphicon glyphicon-comment icon" th:data-comment-id="${comment.id}"></span>-->
<!--                                            <span class="float-right icon" th:text="${#dates.format(comment.gmtCreate,'YYYY-MM-dd')}"></span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--                                <input type="text" class="form-control" placeholder="评论一下···" th:id="${'input-'+comment.id}">-->
<!--                                <button type="button" class="btn btn-success pull-right" onclick="CommentComment(this)" th:data-comment-id="${comment.id}">回复</button>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

            </span>
        </div>
        <!--右边作者相关信息-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 right-section" >
                <h4><strong>发布人</strong></h4>
                <div class="media">
                    <div class="media-left">
                        <a  href="#">
                            <img class="media-object img-circle main_list_item_imgSize" th:src="${questionDto.questionCreater.avatarUrl}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading user-name">
                            <a href="#" th:text="${questionDto.questionCreater.name}"></a>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
            <!--图片-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <h5><strong>学习不是为了炫耀，而是为了让我们成为更好的人</strong></h5>
                <img class="img-thumbnail question-wechat" src="/img/timg.png">
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <h4><strong>相关问题</strong></h4>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <ul class="question-related">
                    <li th:each="question:${likeQuestions}">
                        <a th:href="${'/question/'+question.id}" th:text="${question.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>