<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac_one.gqw1024.community.ac_one_community.dao.QuestionExtMapper">

  <!--问题浏览数自增-->
  <update id="incView" parameterType="ac_one.gqw1024.community.ac_one_community.model.Question">
    update question
    set
      view_count = view_count + #{viewCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="incCommentCount" parameterType="ac_one.gqw1024.community.ac_one_community.model.Question">
      update question
      set
        comment_count = comment_count + #{commentCount,jdbcType=INTEGER}
      where id = #{id,jdbcType=INTEGER}
    </update>
    <!--使用MySql正则表达式来实现对所有拥有相似标签的问题进行查找，按点赞数倒序排序，取12个-->
    <select id="queryQuestionByTag" resultType="ac_one.gqw1024.community.ac_one_community.model.Question" parameterType="ac_one.gqw1024.community.ac_one_community.model.Question">
      select id,title,question_tag from question where id != #{id} and question_tag regexp #{questionTag} order by like_count desc limit 12
    </select>

</mapper>